:root{
    --color-positive: #fff;
    --color-negative: #000;
    
    --color-aquamarine: #7FFFD4;
    --color-green: #426B1F;
    
    --color-lime: #FAFAF5;
    --color-light-gray: #E6E6E6;
    --color-gray: #C2C2C2;
}