html {
    max-width: 100vw;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-weight: 400;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 6.4rem;
}

main {
    padding: 0 9.6rem;
}